@use "./config.scss" as config;
@use "./mixins.scss" as mixins;

:root {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	min-height: 100%;

	--light-900: white;
	--light-907: rgba(255, 255, 255, 0.70);
	
	--dark-900: black;
	--dark-907: rgba(0, 0, 0, 0.70);
	--dark-903: rgba(0, 0, 0, 0.30);
	--dark-901: rgba(0, 0, 0, 0.10);
	--gray-300: #f7f7f7;
	--gray-400: #f1f1f1;
	--gray-500: #dddddd;
	--gray-600: #8d8d8d;
	--gray-700: #616162;
	--rose-500: #ff604b;
	--blue-300: rgba(0, 183, 255, 0.884);
	--blue-600: rgb(0, 129, 180);

	--brand-primary-color: #19a9dd;

	--green-700: rgb(37, 136, 37);
	--container-save-space: 32px;
	@media (max-width: config.$mbpMM) {
		--container-save-space: 16px;
	}
}
.btn {
	display: inline-block;
	white-space: nowrap;
	transition: color 0.3s, background-color 0.3s, transform 0.3s, opacity 0.3s, box-shadow 0.3s, border-color 0.3s;
	color: var(--color, black);
	background-color: var(--bg-color, transparent);
	cursor: pointer;
	text-align: center;
	&_primary {
		--color: var(--light-900);
		--bg-color: var(--dark-900);
		--hover-bg-color: var(--dark-907);
		padding: 14px 20px;
		border-radius: 5px;
	}
	&_social {
		padding: 4px;
	}
	&_social &__icon {
		font-size: 24px;
	}
	&_nav {
		--color: var(--dark-900);
		--bg-color: var(--light-907);
		--hover-bg-color: var(--light-900);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		font-size: 20px;
		border-radius: 50%;
		cursor: pointer;
	}
	&_prev &__icon {
		position: relative;
		left: -0.05em;
	}
	&_next &__icon {
		position: relative;
		left: 0.08em;
	}
	@media (any-hover: hover) {
		&:not(:disabled):hover {
			color: var(--hover-color, var(--color));
			--bg-color: var(--hover-bg-color);
			//background-color: var(--hover-bg-color, var(--bg-color, transparent));
			transform: var(--hover-transform, none);
			opacity: var(--hover-opacity, 1);
			//box-shadow: 5px 5px 15px 0px var(--hover-shadow-color, transparent);
			border-color: var(--hover-border-color, var(--border-color, transparent));
		}
	}
	&:disabled {
		opacity: 0.6;
	}
}
.img-wrap {
	display: flex;
	// &_lazy:not(._loaded) &__inner::after {
	// 	@include spinner;
	// }
	&__inner {
		flex: 1 1 auto;
		position: relative;
		left: 0;
		top: 0;
		padding-top: var(--height-ratio, 50%);
		//transform: scale(calc(100% + var(--zoom-in, 0%)));
		transition: transform 0.4s;
	}
	& img, &__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&_cut img, &_cut &__item {
		left: -1%;
		top: -1%;
		width: 102%;
		height: 102%;
	}
	&_top-left img, &_top-left &__item {
		object-position: top left;
	}
	&_cover img, &_cover &__item {
		object-fit: cover;
	}
}
.logo {
	display: inline-block;
	transition: opacity 0.3s;
	&_dark {
		filter: invert(1);
	}
	&__img {
		width: var(--width, 120px);
		height: var(--height, 20px);
		object-fit: contain;
	}
	&__caption {
		position: absolute;
		visibility: hidden;
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}
}
.drawers {
	position: relative;
	z-index: 10000;
}
.drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - var(--scroll-compensation));
	height: 100%;
	z-index: var(--z-index, 1);
	&_dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		background-color: var(--dark-903);
	}
	&_dialog#{&}_open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
	&_dialog &__panel {
		background-color: var(--light-900);
		border-radius: 8px;
		overflow: hidden;
		max-width: 500px;
		width: 100%;
		transform: translateY(10px);
		transition: transform 0.3s;
	}
	&_dialog#{&}_open &__panel {
		transform: translateY(0px);
	}
	&_dialog &__header {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		color: var(--light-900);
		font-weight: 600;
		padding: 12px 12px 12px 20px;
		background-color: var(--dark-900);
	}
	&_dialog &__body {
		font-size: 18px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		background-color: var(--light-900);
	}
	&:not(.drawer_open) {
		pointer-events: none;
	}
	&:not(#{&}_modal) {
		pointer-events: none;
	}

}


.hero {
	position: relative;
	left: 0;
	top: 0;
	min-height: 600px;
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
	}
}
.main-actions {
	position: relative;
	left: 0;
	top: 0;
	@media (max-width: 680px) {
		background-color: var(--light-900);
	}
	&__wrap {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		@media (max-width: 680px) {
			position: static;
		}
	}
	&__container {
		display: grid;
		justify-content: end;
		@media (max-width: 680px) {
			justify-content: center;
		}
	}
	&__sub-wrap {
		position: relative;
		left: 0;
		top: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		padding-top: 18px;
		padding-left: 44px;
		& > * {
			flex: 1 1 auto;
		}
		@media (max-width: 680px) {
			padding-top: var(--section-space);
			padding-left: 0;
		}
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			height: 100%;
			width: 140vw;
			transform: skewX(-45deg);
			background-color: var(--light-900);
			border-top-left-radius: 5px;
			@media (max-width: 680px) {
				display: none;
			}
		}
	}
}


.why-adway {
	&__title {
	}
}

.advances {
	&__msg {
		font-size: 22px;
		color: var(--gray-700);
		text-align: center;
		margin-bottom: 30px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 30px;
		justify-items: center;
	}
}
.advances-card {
	position: relative;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 380px;
	width: 100%;
	padding: 26px 30px;
	text-align: center;
	transition: transform 0.3s;
	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--gray-400);
		transition: background-color 0.3s, transform 0.3s;
		border-radius: 5px;
	}
	@media (any-hover: hover) {
		&:hover {
			transform: translateY(-6px);
		}
		&:hover::before {
			background-color: var(--gray-300);
			transform: scale(1.02);
		}
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 16px;
	}
	&__desc {
		font-size: 18px;
		line-height: 1.3;
	}
}

.trusted-by {
	&__title {
	}
	&__list-container {
		background-color: var(--dark-900);
		padding: 12px 0;
		overflow: hidden;
	}
	&__list-wrap {
		padding: 12px 0;
		border-top: 1px solid var(--gray-500);
		border-bottom: 1px solid var(--gray-500);
	}
	&__list {
		display: flex;
		transition-timing-function: linear;
	}
	&__item	{
		flex: 0 0 240px;
		display: grid;
		align-items: center;
		justify-items: center;
		position: relative;
		left: 0;
		top: 0;
		@media (max-width: config.$mbpM) {
			flex-basis: 200px;
		}
		&_esm {
			flex-basis: 160px;
			@media (max-width: config.$mbpM) {
				flex-basis: 130px;
			}
		}
		&_sm {
			flex-basis: 180px;
			@media (max-width: config.$mbpM) {
				flex-basis: 150px;
			}
		}
		&_md {
			flex-basis: 200px;
			@media (max-width: config.$mbpM) {
				flex-basis: 170px;
			}
		}
		&::before {
			grid-row: 1/span 1;
			grid-column: 1/span 1;
			content: "";
			display: inline-block;
			padding-top: 75%;
		}
	}
	&__logo {
		grid-row: 1/span 1;
		grid-column: 1/span 1;
		width: 86%;
		height: 86%;
		object-fit: contain;
		&_md {
			width: 76%;
			height: 76%;
		}
		&_sm {
			width: 66%;
			height: 66%;
		}
	}
}

.sign-up {
	background-color: var(--gray-300);
	overflow: hidden;
	@media (max-width: config.$mbpM) {
		padding-bottom: calc(var(--section-space) + 20px);	
	}
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: 40px;
		align-items: center;
		@media (max-width: config.$mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__info {
	}
	&__title {
		text-align: left;
		margin-bottom: 20px;
		max-width: 400px;
	}
	&__msg {
		color: var(--gray-700);
		max-width: 480px;
		margin-bottom: 30px;
	}
	&__btn {
	}
	&__img {
		width: 95%;
		height: 95%;
		object-fit: contain;
		justify-self: start;
		@media (max-width: config.$mbpM) {
			grid-row: 1/span 1;
			justify-self: center;
			max-width: 60%;
		}
	}
	&_driver &__img {
		object-fit: cover;
		border-radius: 8px;
		overflow: hidden;
		@media (max-width: config.$mbpM) {
			width: 100%;
			max-width: 600px;
		}
	}
	// Animation
	&__img, &__msg, &__title, &__btn {
		opacity: 0;
		transform: translate(16px) scale(1.08);
		filter: blur(10);
		transition: transform 0.4s, opacity 0.4s, filter 0.4s;
	}
	&__title {
		transform: translate(16px) scale(1.4);
		transition: transform 0.5s 0.1s, opacity 0.5s 0.1s, filter 0.5s 0.1s;
	}
	&__msg {
		transition: transform 0.4s 0.2s, opacity 0.4s 0.2s, filter 0.4s 0.2s;
	}
	&__btn {
		transition: transform 0.4s 0.3s, opacity 0.4s 0.3s, filter 0.4s 0.3s;
	}
	
	&._shown &__img, &._shown &__msg, &._shown &__title, &._shown &__btn {
		opacity: 1;
		filter: none;
		transform: none;
	}
}

.case-studies {
	overflow: hidden;
	&__title {
		margin-bottom: 50px;
	}
	&__body {
		position: relative;
		left: 0;
		top: 0;
	}
	&__wrap {
		display: flex;
	}
	&__actions {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		//transform: translateY(-50%);
		pointer-events: none;
		padding: 0 20px;
		& > * {
			pointer-events: all;
		}
		@media (max-width: 559px) {
			display: none;
		}
	}
}
.cases-grid {
	display: grid;
	gap: 40px 30px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	justify-items: center;
	@media (max-width: config.$mbpM) {
		& > *:nth-child(n + 5) {
			display: none;
		}
	}
}

.case-study-card {
	// flex: 1 0 380px;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	// max-width: 400px;
	border-radius: 8px;
	overflow: hidden;
	//border: 1px solid var(--gray-500);
	background-color: var(--gray-300);
	box-shadow: 0px 0px 30px 2px var(--dark-901);
	// min-width: 280px;
	cursor: grab;
	// @media (max-width: config.$mbpM) {
	// 	flex: 1 0 360px;
	// }
	// @media (max-width: config.$mbpMM) {
	// 	flex: 1 0 300px;
	// }
	// @media (max-width: config.$mbpSM) {
	// 	flex: 1 0 280px;
	// }
	&__img-area {
		position: relative;
		left: 0;
		top: 0;
		overflow: hidden;
		margin-bottom: 24px;
		&:before {
			content: "";
			display: block;
			padding-top: 60%;
		}
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
	@media (any-hover: hover) {
		&:hover &__img {
			transform: scale(1.05);
		}
	}
	&__info {
		flex: 1 1 auto;
		padding: 0 14px;
	}
	&__stack {
		color: var(--rose-500);
		margin-bottom: 10px;
		line-height: 1.5;
		min-height: 2.5em;
	}
	&__name {
		font-size: 28px;
		line-height: 1.3;
		margin-bottom: 20px;
		@media (max-width: config.$mbpMM) {
			font-size: 22px;
			margin-bottom: 16px;
		}
	}
	&__desc {
		color: var(--gray-700);
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 20px;
		@media (max-width: config.$mbpMM) {
			font-size: 16px;
		}
	}
	&__btn {
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding: 16px 20px;
	}
}

.case-drawer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	background-color: transparent;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
	overflow: auto;
	padding: 40px var(--container-save-space);
	&.drawer_open {
		opacity: 1;
		visibility: visible;
		background-color: var(--dark-903);
	}
	&__img {
		--height-ratio: 56.25%;
	}
	&__panel {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		max-width: 1500px;
		opacity: 0;
		transform: translateY(10px);
		transition: opacity 0.3s, transform 0.3s;
		border-radius: 8px;
		overflow: hidden;
		margin: auto;
	}
	&.drawer_open &__panel {
		opacity: 1;
		transform: translateY(0);
	}
	&__close-btn {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.close-btn {
	display: grid;
	align-items: center;
	justify-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--gray-300);
	--hover-bg-color: var(--dark-907);
	border-radius: 50%;
	overflow: hidden;
	transform: rotate(1deg);
	transition: transform 0.3s;
	&_sm {
		width: 30px;
		height: 30px;
	}
	@media (any-hover: hover) {
		&:hover {
			transform: rotate(45deg);
		}
	}
	&::before, &::after {
		grid-row: 1/span 1;
		grid-column: 1/span 1;
		content: "";
		width: 50%;
		height: 3px;
		background-color: var(--bg-color, var(--dark-900));
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}

.range {
  display: grid;
	grid-auto-flow: column;
	gap: 80px;
  align-items: center;
  flex-wrap: wrap;
	max-width: 900px;
  &__col {
    &_hours {
      width: 500px;
			@media (max-width: 900px) {
				width: 400px;
			}
			@media (max-width: config.$mbpM) {
				width: auto;
			}
    }

    &_summ {
      text-align: center;
			@media (max-width: config.$mbpM) {
				grid-row: 1/span 1;
			}
    }
  }

  &__total {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--brand-primary-color);
		margin-bottom: 10px;
  }
	&__paragraph {
		font-size: 16px;
		line-height: 1.3;
    color: var(--gray-700);
	}

  &__title {
    font-size: 21px;
    line-height: 1.3;
    color: var(--gray-700);
    margin-bottom: 16px;
  }

  @media (max-width: config.$mbpM) {
		gap: 30px;
		grid-auto-flow: row;
  }
}

.hours-wrapp {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 21px;
    line-height: 1.3;
    color: var(--gray-700);
    margin-right: 20px;
  }

  &__range {
    width: 100%;
    max-width: 928px;
    padding-top: 5px;
  }

  @media (max-width: config.$mbpM) {
    &__range {
      max-width: 600px;
    }
  }

  @media (max-width: config.$mbpM) {
    flex-direction: column;

    &__range {
      max-width: unset;
    }

    &__title {
      margin-bottom: 16px;
    }
  }
}
.monetizing {
	&__container {
		display: grid;
		justify-items: center;
	}
	&__text {
		margin-bottom: 30px;
		& > p {
			font-size: 21px;
			line-height: 1.5;
			color: var(--gray-700);
			max-width: 960px;
			margin-bottom: 16px;
			text-align: center;
		}
	}
	&__calc {
		//justify-self: stretch;
	}
}

.technology {
	color: var(--light-900);
	background-color: var(--dark-900);
	&__container {
		display: grid;
		align-content: center;
		gap: 0 60px;
		grid-template-columns: 0.6fr 1fr;
		@media (max-width: config.$mbpT) {
			gap: 0 40px;
			grid-template-columns: 0.8fr 1fr;
		}
		@media (max-width: config.$mbpM) {
			grid-template-columns: 1fr;
		}
	}
	&__info {
		@media (max-width: config.$mbpM) {
			margin-bottom: 20px;
		}
	}
	&__title {
		
		font-size: 36px;
		margin-bottom: 24px;
		text-align: left;
		align-self: end;
		@media (max-width: config.$mbpT) {
			grid-column: 1/span 2;
		}
		@media (max-width: config.$mbpM) {
			grid-column: 1/span 1;
		}
	}
	&__msg {
	}
	&__img {
		align-self: center;
		grid-column: 2 / span 1;
		grid-row: 1/span 2;
		margin: calc(var(--section-space) * -1) 0;
		width: 100%;
		@media (max-width: config.$mbpT) {
			grid-row: 2/span 1;
		}
		@media (max-width: config.$mbpM) {
			grid-column: 1/span 1;
			grid-row: 3/span 1;
			margin: 0;
		}
	}
}
.in-media {
	&__title {
		text-align: center;
	}
}
.media-card {
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	overflow: hidden;
	box-shadow: 0px 0px 30px 2px var(--dark-901);
	&__img {
		position: relative;
		z-index: -1;
		--height-ratio: 110%;
		& img {
			transition: transform 0.3s;
		}
	}
	&__title {
		
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--light-900);
		background-color: var(--dark-900);
		padding: 16px 20px;
	}
	@media (any-hover: hover) {
		&:hover {
			& img {
				transform: scale(1.05);
			}
		}
	}
}

.range-slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 20px;
	width: 100%;
	background: transparent;
	&::-moz-range-track {
		height: 4px;
		background: linear-gradient(90deg, var(--brand-primary-color) 0%, var(--brand-primary-color) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
		background-color: #717171;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 20px;
		height: 20px;
		background: var(--dark-900);
		border-radius: 50%;
		border-color: transparent;
		cursor: pointer;
	}
	&::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		height: 4px;
		background: linear-gradient(90deg, var(--brand-primary-color) 0%, var(--brand-primary-color) var(--progress, 0%), transparent var(--progress, 0%), transparent 100%);
		background-color: #717171;
	}
	&::-webkit-slider-thumb {
		display: flex;
		align-items: center;
		-webkit-appearance: none;
		position: relative;
		top: -8px;
		left: 0;
		width: 20px;
		height: 20px;
		background: var(--dark-900);
		border-radius: 50%;
		border-color: transparent;
		cursor: pointer;
		z-index: 1;
	}
}
.grecaptcha-badge {
	visibility: hidden;
}